<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warnings List</title>
</head>
<body>
<table>
    <tr>
        <th>Warnings</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message}"></td>
    </tr>
</table>

<div>
        <span th:if="${currentPage > 0}">
            <a th:href="@{/list(page=${currentPage - 1}, size=${size})}">&lt; Previous</a>
        </span>
    <span th:if="${currentPage == 0}">&lt; Previous</span>
    |
    <span th:if="${currentPage + 1 < totalPages}">
            <a th:href="@{/list(page=${currentPage + 1}, size=${size})}">Next &gt;</a>
        </span>
    <span th:if="${currentPage + 1 >= totalPages}">Next &gt;</span>
</div>
</body>
</html>
